/* base styles */
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up {
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882f6;
    border: none;
    color:#f9faf8;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

/* header styles */
.header-container {
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#logo {
    font-size: 24px;
    font-weight: 700;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 36px;
    margin: 0;
    padding: 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

#hero-intro {
    width: 45%;
}

#hero-intro p {
    margin: 0 0 10px 0;
}

#hero-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

#hero-image {
    width: 50%;
    background-color: slategray;
    text-align: center;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image p {
    margin: 0;
}

/* random info */
.random-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#random-info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 40px 0;
}

#figure-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.square-img {
    height: 160px;
    width: 160px;
    border: solid 4px #3882f6;
    border-radius: 16px;
}

.img-caption {
    width: 90%;
    text-align: center;
    color: #1f2937;
}

/* quote */
#quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container {
    width: 790px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    color:#1f2937;
}
#quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

#thor {
    text-align: right;
    font-weight: 600;
    font-size: 24px;
    width: 90%;
    margin: 0;
}

/* call to action */
#action-section {
    padding: 80px;
}

.action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#action-content {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 8px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 80px;
    box-sizing: border-box;
}

#action-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

#action-text p {
    margin: 0;
    color:#e5e7eb;
}

#action-sign-up {
    border: solid 2px #f9faf8;
}

/* footer */
footer {
    padding: 20px;
    text-align: center;
}